.swiper {
    max-width: 800px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    width: 100%;
    height: 300px;
}

.swiper-slide {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    gap: 5px;
}

.slide-inner .proje-img {
    height: 280px;
    width: 300px;
}

.proje-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.work__details {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.swiper-pagination-bullet-active {
    width: 15px;
    border-radius: 10px;
    transition: width 0.3s ease;
}

.swiper {
    --swiper-pagination-color: var(--title-color);
    --swiper-pagination-bullet-inactive-color: white;
}

.button-next,
.button-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--title-color);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

:is(.button-next, .button-prev):hover {
    background-color: #9D9D9D;
    color: var(--title-color);
}

.button-next {
    right: 10px;
}

.button-prev {
    left: 10px;
}